@using Microsoft.Extensions.Primitives

@{
    Layout = "_Layout_blank";
}

        <form asp-controller="Authorization" asp-action="Logout" method="post" id="logout-form">
            <!--@* Flow the request parameters so they can be received by the LogoutPost action: *@-->
            @foreach (var parameter in Context.Request.HasFormContentType ?
                   (IEnumerable<KeyValuePair<string, StringValues>>)Context.Request.Form : Context.Request.Query)
            {
                <input type="hidden" name="@parameter.Key" value="@parameter.Value" />
            }
        </form>
<script>window.onload = $('#logout-form').submit();</script>