@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
<div class="page @theme">
    <div class="sidebar">       
         <NavMenu /> 
    </div>
    <main>
        <div class="top-row px-4">
            <Switch CheckedChildren="🌜" UnCheckedChildren="🌞" Value="isDark" OnChange="ThemeChanged" />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body  @* 在布局标记中指定呈现内容的位置 *@
       </article> 
                @* <div class="main-container">
                    @Body
                </div> *@
    </main>
</div>
    </Authorized>
    <NotAuthorized>
        @*Just render the body so that RedirectToLogin works*@
        @Body
    </NotAuthorized>
</AuthorizeView>
@code
{
    private string theme = "light";
    private bool isDark;

    private void ThemeChanged(bool dark)
    {
        isDark = dark;
        theme = dark ? "dark" : "light";
    }
}