@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/logo.svg" />
                    <span class="title">Tong Builder</span>
                </a>
            </div>
            <div class="desc">Tong Builder</div>
        </div>
        @Body
    </div>
    <FooterView Copyright="2024 Tong Builder" Links="Links"></FooterView>
</div>

@code {
    public LinkItem[] Links { get; set; } =
    {
        new LinkItem
        {
            Key = "Tong Builder",
            Title = "Tong Builder",
            Href = "http://studiogpt.cn/",
            BlankTarget = true,
        },
        new LinkItem
        {
            Key = "github",
            Title = (RenderFragment)(@<Icon Type="github" />),
            Href = "https://github.com/ant-design-blazor/ant-design-pro-blazor",
            BlankTarget = true,
        }
    };
}
