@page "/DispatchCenter"

<div class="main-page-container">
    <div class="page-body">
        <div class="page-body-left">
            左
        </div>
        <div class="page-body-right">
            右
        </div>
    </div>
    <div class="page-bottom">
        下
    </div>
</div>

@code {

}
