<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="c:\temp\internal-nlog-BlazorMaui.txt">

  <!-- enable asp.net core layout renderers Fatal Error Warn Info Debug Trace-->
  <extensions>
    <add assembly="NLog.Targets.MauiLog"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <!--配置文件位置，配置为项目生成目录，单个文件过大会导致写入效率下降，可配置单个文件的最大容量-->
    <target name="OperationLog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
                    fileName="${specialfolder:folder=ApplicationData}/logs/OperationLog/${date:format=yyyy-MM}/${shortdate}.log"
                    layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}"
                    archiveAboveSize="2048000"
                    archiveEvery="Day"
                    />
    </target>
    <target name="ErrorLog" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
                    fileName="${specialfolder:folder=ApplicationData}/logs/ErrorLog/${date:format=yyyy-MM}/${shortdate}.log"
                    layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}"
                    archiveAboveSize="2048000"
                    archiveEvery="Day"
                    />
    </target>
	<target name="colorConsole" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]:${message} ${exception:format=message}" />
	<target name="mauilog" type="MauiLog" />    
  </targets>  
  <rules>     
	<logger name="*" minlevel="Info" writeTo="mauilog" />	 
  </rules>
</nlog>