<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target name="log_file" xsi:type="File"
					fileName="${basedir}/logs/${shortdate}.log"
					layout="${longdate} [${level:uppercase=true}] ${message} ${onexception:${exception:format=tostring} ${newline}"
					concurrentWrites="true"
					keepFileOpen="false" />
		</target>
		<target name="asyncMessageFile" xsi:type="AsyncWrapper">
			<target name="log_file" xsi:type="File"
					fileName="${basedir}/messages/${shortdate}.txt"
					layout="${longdate} [${level:uppercase=true}] ${message}"
					concurrentWrites="true"
					keepFileOpen="false" />
		</target>
		<target name="colorConsole" xsi:type="ColoredConsole" layout="[${date:format=HH\:mm\:ss}]:${message} ${exception:format=message}" />
	</targets>
	<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
		<logger name="Microsoft.AspNetCore.*" finalMinLevel="Warn" />
		<logger name="*" minlevel="Debug" writeTo="asyncFile" />
		<logger name="*" minlevel="Info" writeTo="colorConsole" />		
	</rules>
</nlog>
